<!doctype html>
<html>
<head>
	<title>User Authentication</title>
	<link rel="stylesheet" type="text/css" href="http://localhost:7676/styles/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://localhost:7676/styles/font-awesome.min.css">
	<style type="text/css">
		body 	{ padding-top: 80px; }
	</style>		
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1><span class="glyphicon glyphicon-lock"></span> Node User Authentication</h1>

			<p>Login or Register With</p>

			<a href="/user/login" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Local Login</a>
			<a href="/user/signup" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Local Signup</a>
			
		</div>
	</div>
</body>
</html>